
NEXT_PUBLIC_ADMIN_EMAIL=admin@example.com
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

NEXT_PUBLIC_SUPABASE_URL=https://tadvtrdqfegxhmroegim.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_GB6kIQqGDnND9FnVl_D_mQ_tU-HH3Ak
